$colorUno: #595959;
$colorDos: #ff7f50;
$colorTres: #d6d4d4;
$colorCuatro: #DAE2D6;
$fontUno: 'Abel', sans-serif;
$fontDos: 'Galada', cursive;



.no-gutters {
	margin: 0;
	padding: 0;
}

.header__top {
    display: flex;
	flex-direction: row;
	justify-content: flex-end;
    background-color: $colorUno;
    height: 40px;
    font-family: $fontUno;
}

.header__topMobile {
    display: flex;
	flex-direction: row;
	justify-content: flex-end;
    background-color: $colorUno;
    height: 30px;
	font-family: $fontUno;
	font-size: 10px;
	margin: none;
}


.header__mobile {
	display: none;
}

@media (max-width: 600px) {
	.header__top {
		display: none;
	}
	.header__mobile {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
    	background-color: $colorUno;
    	height: 40px;
		font-family: $fontUno;
		font-size: 10px;
		padding: none;
		margin: none;
	}
}

.headerMid {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 5px;
	transition: 0.5s;
}

.headerMid:hover {
	transform: scale(1.1);
}

.header__topTop {
	padding: 10px;
	color: white;
	transition: all;
	font-family: $fontUno;
}

.header__topTop:hover {
	color: $colorDos;

}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: $fontUno;
	color: $colorUno;
}

.nav__mobile {
	display: none;
}

@media (max-width: 600px) {
	.nav {
		display: none;
	}
	.nav__mobile {
		display: flex;
		flex-direction: column;
		font-size: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		font-family: $fontUno;
		color: $colorUno;
		justify-content: center;
		text-align: center;
		list-style: none;
 	}
}



.nav__item {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	text-align: center;
	color: $colorUno;
	text-transform: uppercase;
	transition: 0.5s;
	justify-content: center;
}

.nav__item:hover {
	transform: scale(1.1);
	color: $colorDos;
}


.fotos {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	padding-bottom: 30px;
	padding-top: 10px;
}

.quienesSomos {
	width: 600px;
	height: 400px;
	text-align: center;
	padding: 30px;
	font-size: 18px;
	font-family: $fontUno;
	background-color: $colorTres;
	transition: 0.5s;
}

.queHacemos {
	width: 600px;
	height: 400px;
	background-color: $colorUno;
	text-align: center;
	padding: 30px;
	color: white;
	font-size: 18px;
	font-family: $fontUno;
	transition: 0.5s;
}

.infoMobile {
	display: none;
}

@media (max-width: 800px) {
	.quienesSomos {
		display: none;
	}
	.queHacemos {
		display: none;
	}
	.infoMobile {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		padding: 40px;
		text-align: center;
		font-family: $fontUno;
		
	}
	.quienes__mobile {
		height: 350px;
		background-color: $colorTres;
		color: $colorUno;
		
	}
	.que__mobile {
		height: 400px;
		background-color: $colorUno;
		color: white;
		margin-top: 40px;
	}
}

.animate__flipInX{
	animation: flipInX; 
	animation-duration: 2s;
	animation-direction: alternate;
}
  
.queHacemos:hover { 
	transform: scale(1.05);
}

.quienesSomos:hover { 
	transform: scale(1.05);
}

h1 {
	text-align: center;
	padding-top: 100px;
	font-family: $fontDos;
	margin: 0;
	padding-left: 30px;
	padding-right: 30px;
}
h2 {
	text-align: center;
	padding: 10px;
	padding-top: 20px;
	font-family: $fontDos;
}

h3 {
	text-align: center;
	padding: 10px;
	font-family: $fontUno;
}

p {
	padding-left: 40px;
	padding-right: 40px;
	font-family: $fontUno;
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.infoVerde {	
	padding-right: 300px;
	padding-left: 300px;
	padding-bottom: 100px;
	text-align: center;
	font-size: 28px;
	font-family: $fontUno;
	margin: 0;
}

.infoVerdeMobile {
	display: none;
}

@media (max-width: 800px) {
	.infoVerde {
		display: none;
	}
	.infoVerdeMobile {
		display: flex;
		flex-direction: column;
		font-size: 20px;
		text-align: center;
		font-family: $fontUno;
		padding: 40px;
	}
}

.infoBar {
	background-color: $colorCuatro;
}

.fotoCelu {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-image: url(../img/122-01.png);
	margin: 0;
	padding: 0;
}

.fotoCelu__celu{
	display: flex;
	transition: 0.5s;
	box-sizing: border-box;
	justify-content: space-evenly;
}

.fotoCelu__celu:hover {
	transform: scale(1.2);
}

.fotoCelu__mobile {
	display: none;
}

@media (max-width: 800px) {
	.fotoCelu {
		display: none;
	}
	.fotoCelu__mobile {
		display: flex;
		flex-direction: column;
		background-image: url(../img/122-01.png);
	}
}

.foto__ubicacion {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
}

.footer {
	background-color: $colorUno;
	list-style: none;
}

.info ul {
	font-size: 15px;
	font-family: $fontUno;
	margin: 20px;
	justify-content: center;
	transition: 0.5s;
	font-family: $fontUno;
	padding-top: 60px;
	color: white;
	background-image: url(img/7.png);
	list-style: none;
}

.info ul:hover {
	transform: scale(1.2);
}

.news ul {
	font-family: $fontUno;
	margin: 10px;
}

.redes ul {
	font-size: 15px;
	padding-top: 80px;
	font-family: $fontUno;
	justify-content: center;
	color: white;
	list-style: none;
}

.news {
	color: white;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes__link{
	padding-bottom: 10px;
	font-family: $fontUno;
	justify-content: center;
	text-align: center;
	transition: 0.5s;
}

.redes__link:hover {
	transform: scale(1.1);
}

.mov {
	transition: 0.3s;
}

.mov:hover {
	transform: scale(1.1);

}

.nombre	{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
	transition: 0.5s;
	text-align: center;
}

.nombre:hover {
	transform: scale(1.1);
}

.email {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
	transition: 0.5s;
	text-align: center;
}

.email:hover {
	transform: scale(1.1);
}

.boton {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
	transition: 0.5s;
	color: #595959;
	text-align: center;
}

.boton:hover {
	transform: scale(1.1);
	color: $colorDos;
}

.margen {
	padding: 0;
	margin: 0;
}


hr {
	height: 1px;
	margin-left: 100px;
	margin-right: 100px;
	border-color: $colorCuatro;
	background-color: $colorUno;
}

.copyright {
	font-family: $fontUno;
	justify-content: center;
	text-align: center;
	color: white;
}



.float {
	align-items: left;
	transition: 0.3s;
}

.float:hover {
	transform: scale(1.1);
}

.icons {
	display: none;
}
.copyright__mobile {
	display: none;
}

@media (max-width: 800px) {
	.footer {
		display: none;
	}

	.icons {
		display: flex;
		flex-direction: row;
		background-color: $colorUno;
		justify-content: center;
		padding-top: 20px;
		padding-bottom: 20px;
		list-style: none;
	}

	.copyright__mobile {
		text-align: center;
		color: white;
		background-color: $colorUno;
	}
}



#navbar {
	overflow: hidden;
	background-color: white;
	z-index: 1000;
	opacity: 0.8;
}
  
#navbar a {
	float: left;
	display: block;
	text-align: center;
	text-decoration: none;
	color: $colorUno;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}

.button {
	background-color: white;
	text-decoration: none;
	border: none;
	border-collapse: none;
}

.mensaje__contacto	{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	transition: 0.5s;
	text-align: center;
	padding-left: 200px;
	padding-right: 200px;
}

.mensaje__contacto:hover {
	transform: scale(1.1);
}

.formularioContacto {
	text-align: center;
	align-items: center;
	font-family: $fontUno;
}

.nombre__contacto	{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	transition: 0.5s;
	text-align: center;
	padding-left: 200px;
	padding-right: 200px;
}

.nombre__contacto:hover {
	transform: scale(1.1);
}

.email__contacto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	transition: 0.5s;
	text-align: center;
	padding-left: 200px;
	padding-right: 200px;
}

.email__contacto:hover {
	transform: scale(1.1);
}

.boton__contacto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	transition: 0.5s;
	color: #595959;
	text-align: center;
	padding-left: 200px;
	padding-right: 200px;
	outline: none;
}

.boton__contacto:hover {
	transform: scale(1.1);
	color: $colorDos;
	outline: none;
}

.formulario__mobile {
	display: none;
}

@media (max-width: 800px) {
	.formularioContacto{
		display: none;
	}

	.formulario__mobile {
		display: inline;
		text-align: center;
		align-items: center;
		font-family: $fontUno;
	}
	.nombre__contacto__mobile	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px;
		transition: 0.5s;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.nombre__contacto__mobile:hover {
		transform: scale(1.1);
	}
	.email__contacto__mobile{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px;
		transition: 0.5s;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.email__contacto__mobile:hover {
		transform: scale(1.1);
	}
	.mensaje__contacto__mobile	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px;
		transition: 0.5s;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.mensaje__contacto__mobile:hover {
		transform: scale(1.1);
	}
	.boton__contacto__mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px;
		transition: 0.5s;
		color: #595959;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
		outline: none;
	}
	
	.boton__contacto__mobile:hover {
		transform: scale(1.1);
		color: $colorDos;
		outline: none;
	}
}



.mapa {
	align-items: center;
	padding-top: 40px;
}

.flip-card {
	background-color: transparent;
	padding-right: 20px;
	width: 520px;
	height: 300px;
	border: none;
	perspective: 1000px; 
}

.flip-card-inner {
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}
  

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
  
 
  
.flip-card-back {
	background-color: none;
	color: $colorUno;
	transform: rotateY(180deg);
}

.cards {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  background-image: url(../img/122-01.png);
	  padding-bottom: 100px;
	  padding-top: 100px;
}



.cards__mobile {
	display: none;
}

@media (max-width: 800px) {
	.cards {
		display: none;
	}
	.cards__mobile {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		padding-bottom: 20px;
		background-image: url(../img/122-01.png);
		width: 300px;	



	}
	.card {
		display: inline-block;
		justify-content: center;
		border-style: groove;
		margin-left: auto;
		margin-right: auto;
		}
}



.infoVerdef {	
	padding-right: 300px;
	padding-left: 300px;
	padding-bottom: 40px;
	text-align: center;
	font-size: 28px;
	font-family: $fontUno;
	margin: 0;
}

.infoBarf {
	background-color: $colorCuatro;
	margin-bottom: 20px;
}
.botonx {
	justify-content: center;
	text-align: center;
	color: white;
	font-family: $fontUno;
	vertical-align: middle;
	padding-bottom: 40px;
	font-size: 20px;
	text-decoration: none;
	transition: 0.2s;
}

.botonx:hover {
	color: $colorDos;	
}

.infoBarf__mobile {
	display: none;
}

@media (max-width: 800px) {
	.infoBarf {
		display: none;
	}
	.infoBarf__mobile {
		background-color: $colorCuatro;
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.infoVerde__mobile {
	text-align: center;
	font-family: $fontUno;
	font-size: 18px;
}

.zero {
	padding: 0;
}
