<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Nous Prints, servicio de diseno grafico, tarjeteria, branding, invitaciones impresas, invitaciones online y regalería de bebes">
    <meta name="keywords"
        content="invitaciones, regalos, bebes, diseño, tarjetas, quince, marcas, logos, impreso, online, casamientos">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hola</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../scss/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
</head>

<body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

    <div class="container-fluid margen">
        <!--header-->
        <header>
            <div class="row">
                <div class="col-md-12">
                    <div class="header">
                        <div class="header__top">
                            <a class="header__topTop" href="views/contacto.html">CONTACTO</a>
                            <a class="header__topTop" href="../views/como comprar.html">COMO COMPRAR</a>
                            <a class="header__topTop" href="../views/carrito.html">MI CARRITO</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--header mobile-->
            <header>
                <div class="row">
                    <div class="col-md-12">
                        <div class="header__mobile">
                            <div class="header__topMobile">
                                <a class="header__topTop" href="./views/contacto.html"> CONTACTO </a>
                                <a class="header__topTop" href="./views/como-comprar.html"> COMO COMPRAR </a>
                                <a class="header__topTop" href="./views/carrito.html"> MI CARRITO </a>
                            </div>
                        </div>
                    </div>
                </div>
            <!--end header mobile-->


                <div class="row">
                    <div class="col-md-12">
                        <div class="headerMid">
                            <a href="../index.html"> <img width="100px" src="../img/nousg.png"> </a>
                        </div>
                    </div>
                </div>



                <!--main header-->
                <div class="row">
                    <div id="navbar">
                        <div class="col-md-12">
                            <ul class="nav">
                                <li>
                                    <a class="nav__item" href="#">Bebés</a>
                                </li>
                                <li>
                                    <a class="nav__item" href="#">Bautismo</a>
                                </li>
                                <li>
                                    <a class="nav__item" href="#">Cumples</a>
                                </li>
                                <li>
                                    <a class="nav__item" href="#">Comunión</a>
                                </li>
                                <li>
                                    <a class="nav__item" href="#">Quince</a>
                                </li>
                                <li>
                                    <a class="nav__item" href="#">Casamiento</a>
                                </li>
                                <li>
                                    <a class="nav__item" href="#">Branding</a>
                                </li>
                                <li>
                                    <a class="nav__item" href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 nav__mobile">
                        <button data-toggle="collapse" data-target="#demo" class="button">+
                            <div id="demo" class="collapse">
                                <ul class="nav__mobile">
                                    <li>
                                        <a class="nav__item" href="#">Bebés</a>
                                    </li>
                                    <li>
                                        <a class="nav__item" href="#">Bautismo</a>
                                    </li>
                                    <li>
                                        <a class="nav__item" href="#">Cumples</a>
                                    </li>
                                    <li>
                                        <a class="nav__item" href="#">Comunión</a>
                                    </li>
                                    <li>
                                        <a class="nav__item" href="#">Quince</a>
                                    </li>
                                    <li>
                                        <a class="nav__item" href="#">Casamiento</a>
                                    </li>
                                    <li>
                                        <a class="nav__item" href="#">Branding</a>
                                    </li>
                                    <li>
                                        <a class="nav__item" href="#">Freebies</a>
                                    </li>
                                </ul>
                            </div>
                        </button>
                    </div>
                </div>
            </header>
            <!--end main header-->
            <!--end header-->

            <!--formulario-->
            <div class="row">
                <div class="col-md-12">
                    <div class="formularioContacto">
                        <form action="#" method="post">
                            <li class="nombre__contacto"><label for="name"> NOMBRE </label>
                                <input type="text" name="nombre"></li>

                            <li class="email__contacto"><label for="mail"> EMAIL </label>
                                <input type="text" name="email"></li>

                            <li class="mensaje__contacto "><label for="mensaje"> MENSAJE </label>
                                <textarea cols="100" rows="10"> </textarea> </li>

                            <li class="boton__contacto"><input type="submit" value="ENVIAR">
                            </li>
                        </form>
                    </div>
                </div>
            </div>
            <!--end formulario-->


            <!--formulario mobile-->
            <div class="row">
                <div class="col-md-12">
                    <div class="formulario__mobile">
                        <form action="#" method="post">
                            <li class="nombre__contacto__mobile"> <label for="name"> NOMBRE </label>
                                <input type="text" name="nombre"></li>

                            <li class="email__contacto__mobile"> <label for="mail"> EMAIL </label>
                                <input type="text" name="email"></li>

                            <li class="mensaje__contacto__mobile"><label for="mensaje"> MENSAJE </label>
                                <textarea cols="100" rows="10"> </textarea> </li>

                            <li class="boton__contacto__mobile"><input type="submit" value="ENVIAR">
                            </li>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end formulario mobile-->


            <!--map-->
            <div class="row">
                <div class="col-md-12">
                    <div class="mapa">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.8069787310706!2d-57.947163208982!3d-34.91129314660618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e63939aaeeaf%3A0x57d81c5186e874cb!2sCalle%203%20911%2C%20La%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1594607414080!5m2!1ses!2sar"
                            width="100%" height="700px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>

                    </div>
                </div>
            </div>
            <!--end map-->


            <!--footer-->
            <div class="row footer">
                <div class="col-md-3 col-xs-3">
                    <div class="info">
                        <ul>
                            <h2>Info</h2>
                            <li>Vení a conocer nuestro taller</li>
                            <li>Contactanos para pedir una cita</li>
                            <li>Teléfono: 2215671735</li>
                            <li>Mail: hola@nousprints.com</li>
                            <li><a href="https://api.whatsapp.com/send?phone=2215671735&text=Hola! Querés charlar con Nous Prints?."
                                    class="float" target="_blank">
                                    <img src="img/whatsapp.png" width="40px">
                                </a> Charlemos!</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="news">
                        <ul class="ya">
                            <h2>Newsletter</h2>
                            <h3>Queres recibir promos, novedades y descuentos de nuestra tienda?</h3>
                            <form action="#" method="post">
                                <li class="nombre"><label for="name"> NOMBRE </label>
                                    <input type="text" name="nombre" size="50" style="height: 30px;"></li>
                                <li class="email"><label for="mail"> EMAIL </label>
                                    <input type="text" name="email" size="50" style="height: 30px;"></li>
                                <li class="boton"><input type="submit" value="SUSCRIBIRME!" size="50"
                                        style="width: 900px; height: 30px;">
                                </li>
                            </form>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="redes">
                        <ul>
                            <h2>Nuestras redes</h2>
                            <li class="redes__link"> <a href="https://instagram.com/nous.prints"> <img width="40px"
                                        src="img/instagram.png"> </a>
                                @nous.prints </li>
                            <li class="redes__link"> <a href="https://facebook.com"> <img width="40px"
                                        src="img/facebook.png"></a>
                                facebook/nousprints</li>
                            <li class="redes__link"> <a href="https://pinterest.com"> <img width="40px"
                                        src="img/pinterest.png"></a>
                                /nousprints</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row footer">
                <div class="copyright">
                    <p> © 2020 Nous Prints - Todos los derechos reservados.</p>
                </div>
            </div>
            <!--endfooter-->

            <!--footer xs-->

            <div class="row">
                <div class="col-md-12">
                    <div class="footer_mobile">
                        <ul class="icons">
                            <li class="redes__link"> <a href="https://instagram.com/nous.prints"> <img width="80px"
                                        src="../img/instagram.png"> </a>
                            </li>
                            <li class="redes__link"> <a href="https://facebook.com"> <img width="80px"
                                        src="../img/facebook.png"></a>
                            </li>
                            <li class="redes__link"> <a href="https://pinterest.com"> <img width="80px"
                                        src="../img/pinterest.png"></a>
                            </li>
                            <li class="redes__link"><a
                                    href="https://api.whatsapp.com/send?phone=2215671735&text=Hola! Querés charlar con Nous Prints?."
                                    class="float" target="_blank">
                                    <img src="../img/whatsapp.png" width="80px">
                                </a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="copyright__mobile">
                            <p> © 2020 Nous Prints - Todos los derechos reservados.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--end footer xs-->



            <script>
                window.onscroll = function () { myFunction() };
                var navbar = document.getElementById("navbar");
                var sticky = navbar.offsetTop;
                function myFunction() {
                    if (window.pageYOffset >= sticky) {
                        navbar.classList.add("sticky")
                    } else {
                        navbar.classList.remove("sticky");
                    }
                }
            </script>


</body>

</html>